{% extends 'base.html.twig' %}

{% block content %}

    <body class="information-contact">
    <div id="page">

        <div class="header-content-title">
            <div style="background-image: url('image/catalog/demo/banners/parallax.jpg'); background-position: 50% 78.1106%;" data-source-url="../../OPC190_nursery/OPC01/image/catalog/demo/banners/parallax.jpg" class="parallex">
            </div>
        </div>
        <div id="information-contact" class="container">
            <ul class="breadcrumb">
            </ul>
            <div class="row">
                <div id="content" class="col-sm-12">
                    <h1>Your order is being treated by the admin</h1>

                </div>
            </div>
        </div>


    </div>

    </body>

{% endblock %}
