{% extends 'baseadmin.html.twig' %}

{% block title %}HeavenTNBundle:GestionEvent:rechercherEvent{% endblock %}

{% block body %}
<h1>Welcome to the GestionEvent:rechercherEvent page</h1>
{% endblock %}
