{% extends 'baseadmin.html.twig' %}

{% block title %}HeavenTNBundle:GestionEvent:supprimerEvent{% endblock %}

{% block body %}
<h1>Welcome to the GestionEvent:supprimerEvent page</h1>
{% endblock %}
