{% trans_default_domain 'FOSUserBundle' %}

<div class="fos_user_user_show">

</div>

<div id="account-account" class="container">
    <ul class="breadcrumb">
        <li><a href="https://demo.templatetrip.com/Opencart/OPC06/OPC190_nursery/OPC01/index.php?route=common/home"><i class="fa fa-home"></i></a></li>
        <li><a href="https://demo.templatetrip.com/Opencart/OPC06/OPC190_nursery/OPC01/index.php?route=account/account">Account</a></li>
    </ul>
    <div class="row">
        <div id="content" class="col-sm-12">
            <h1 class="page-title">My Account</h1>


            <div class="a-link-list">
                <div class="a-link-heading"><h2>My Account</h2></div>
                <div class="a-link-content">
                    <ul class="list-unstyled">
                        <li><a href="http://localhost/pepinierepi/web/app_dev.php/profile/edit">Edit your account information</a></li>

                    </ul>
                </div><!-- a-link-content END -->
            </div>


            <div class="a-link-list">
                <div class="a-link-heading"><h2>My Orders</h2></div>
                <div class="a-link-content">
                    <ul class="list-unstyled">
                        <li><a href="https://demo.templatetrip.com/Opencart/OPC06/OPC190_nursery/OPC01/index.php?route=account/order">Order History</a></li>
                        <li><a href="https://demo.templatetrip.com/Opencart/OPC06/OPC190_nursery/OPC01/index.php?route=account/download">Downloads</a></li>
                        <li><a href="https://demo.templatetrip.com/Opencart/OPC06/OPC190_nursery/OPC01/index.php?route=account/reward">Your Reward Points</a></li>
                        <li><a href="https://demo.templatetrip.com/Opencart/OPC06/OPC190_nursery/OPC01/index.php?route=account/return">Returns</a></li>
                        <li><a href="https://demo.templatetrip.com/Opencart/OPC06/OPC190_nursery/OPC01/index.php?route=account/transaction">Transactions</a></li>
                        <li><a href="https://demo.templatetrip.com/Opencart/OPC06/OPC190_nursery/OPC01/index.php?route=account/recurring">Payment Profile</a></li>
                    </ul>
                </div><!-- a-link-content END -->
            </div>
        </div>
    </div>
</div>